<%= form_for(@supperplace) do |f| %>
  <% if @supperplace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supperplace.errors.count, "error") %> prohibited this supperplace from being saved:</h2>

      <ul>
      <% @supperplace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :crusine %><br>
    <%= f.text_field :crusine %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.number_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
