<h1>Listing supperplaces</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Website</th>
      <th>Crusine</th>
      <th>Phone</th>
<!--      <th>Open</th>
      <th>Close</th>-->
      <th>State</th>
      <th>Latitude</td>
      <th>Longitude</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supperplaces.each do |supperplace| %>
      <tr>
        <td><%= supperplace.address %></td>
        <td><%= supperplace.website %></td>
        <td><%= supperplace.crusine %></td>
        <td><%= supperplace.phone %></td>
        <td><%#= supperplace.open %></td>
        <td><%#= supperplace.close %></td>
        <td><%= supperplace.state %></td>
        <td><%= supperplace.latitude %></td>
        <td><%= supperplace.longitude %></td>
        <td><%= link_to 'Show', supperplace %></td>
        <td><%= link_to 'Edit', edit_supperplace_path(supperplace) %></td>
        <td><%= link_to 'Destroy', supperplace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supperplace', new_supperplace_path %>
