<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @supperplace.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @supperplace.website %>
</p>

<p>
  <strong>Crusine:</strong>
  <%= @supperplace.crusine %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supperplace.phone %>
</p>

<p>
  <strong>State:</strong>
  <%= @supperplace.state %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @supperplace.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @supperplace.longitude %>
</p>

<%= link_to 'Back', supperplaces_path %>
